<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xml:lang="en">
	<head>
		<!--  Created by Artisteer v3.0.0.32906  Base template (without user's data) checked by http://validator.w3.org : "This page is valid XHTML 1.0 Transitional"  -->
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>About us</title>
		<link rel="stylesheet" href="./style.css" type="text/css" media="screen" />
		<!--[if IE 6]><link rel="stylesheet" href="./style.ie6.css" type="text/css" media="screen" /><![endif]-->
		<!--[if IE 7]><link rel="stylesheet" href="./style.ie7.css" type="text/css" media="screen" /><![endif]-->
		<script type="text/javascript" src="./jquery.js"></script>
		<script type="text/javascript" src="./script.js"></script>
	</head>
	<body>
		<div id="art-page-background-glare">
			<div id="art-page-background-glare-image">
				<div id="art-main">
					<div class="art-sheet">
						<div class="art-sheet-tl"></div>
						<div class="art-sheet-tr"></div>
						<div class="art-sheet-bl"></div>
						<div class="art-sheet-br"></div>
						<div class="art-sheet-tc"></div>
						<div class="art-sheet-bc"></div>
						<div class="art-sheet-cl"></div>
						<div class="art-sheet-cr"></div>
						<div class="art-sheet-cc"></div>
						<div class="art-sheet-body">
							<div class="art-nav">
								<div class="l"></div>
								<div class="r"></div>
								<ul class="art-menu">
									<li><a href="./home.html"><span class="l"> </span><span class="r"> </span><span class="t">Home</span></a></li>
									<li><a href="./Suggesions.html"><span class="l"> </span><span class="r"> </span><span class="t">Suggesions</span></a></li>
									<li><a href="./Units.html"><span class="l"> </span><span class="r"> </span><span class="t">Units</span></a></li>
									<li><a href="./about-us.html" class="active"><span class="l"> </span><span class="r"> </span><span class="t">About us</span></a></li>
									<li><a href="./contact-us.html"><span class="l"> </span><span class="r"> </span><span class="t">Contact us</span></a></li>
                                    <li><a href="./contact-us.html" class="active"><span class="l"> </span><span class="r"> </span><span class="t">Log out</span></a></li>
								</ul>
							</div>
							<div class="art-header">
								<div class="art-header-center">
									<div class="art-header-jpeg"></div>
								</div>
								<div class="art-logo">
									<h1 id="name-text" class="art-logo-name"><a href="./index.html">Company name</a></h1>
									<h2 id="slogan-text" class="art-logo-text">your commercial slogan</h2>
								</div>
							</div>
							<div class="art-content-layout">
								<div class="art-content-layout-row">
									<div class="art-layout-cell art-sidebar1">
										<div class="art-vmenublock">
											<div class="art-vmenublock-body">
												<div class="art-vmenublockheader">
													<h3 class="t">Vertical Menu</h3>
												</div>
												<div class="art-vmenublockcontent">
													<div class="art-vmenublockcontent-body">
														<ul class="art-vmenu">
															<li><a href="./home.html"><span class="l"> </span><span class="r"> </span><span class="t">Home</span></a></li>
															<li><a href="./Suggesions.html"><span class="l"> </span><span class="r"> </span><span class="t">Suggesions</span></a></li>
															<li><a href="./Units.html"><span class="l"> </span><span class="r"> </span><span class="t">Units</span></a></li>
															<li><a href="./about-us.html" class="active"><span class="l"> </span><span class="r"> </span><span class="t">About us</span></a></li>
															<li><a href="./contact-us.html"><span class="l"> </span><span class="r"> </span><span class="t">Contact us</span></a></li>
                                                            
														</ul>
														<div class="cleared"></div>
													</div>
												</div>
												<div class="cleared"></div>
											</div>
										</div>
										<div class="art-block">
											<div class="art-block-body">
												<div class="art-blockcontent">
													<div class="art-blockcontent-body">
														<p>Enter Block content here...</p>
														<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pharetra, tellus sit amet congue vulputate, nisi erat iaculis nibh, vitae feugiat sapien ante eget mauris. </p>
														<div class="cleared"></div>
													</div>
												</div>
												<div class="cleared"></div>
											</div>
										</div>
										<div class="art-block">
											<div class="art-block-body">
												<div class="art-blockcontent">
													<div class="art-blockcontent-body">
														<div>
															<form method="get" name="searchform" action="#" enctype="application/x-www-form-urlencoded"><input type="text" value="" name="s" style="width: 95%;"></input>   <span class="art-button-wrapper"><span class="art-button-l"> </span><span class="art-button-r"> </span><a class="art-button" href="javascript:void(0)">Search</a></span>   </form>
														</div>
														<div class="cleared"></div>
													</div>
												</div>
												<div class="cleared"></div>
											</div>
										</div>
										<div class="cleared"></div>
									</div>
									<div class="art-layout-cell art-content">
										<div class="art-post">
											<div class="art-post-cc"></div>
											<div class="art-post-body">
												<div class="art-post-inner art-article">
													<h2 class="art-postheader">About us</h2>
													<div class="art-postcontent">
														<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed massa purus, non tincidunt ante. Morbi laoreet nunc a odio adipiscing eleifend. Suspendisse egestas feugiat lectus, id iaculis mauris suscipit vel. Nullam vel orci id nulla scelerisque venenatis. Proin quis nunc felis, sit amet iaculis quam. Sed vulputate lobortis massa, ut condimentum tortor vestibulum sit amet. Mauris vel aliquam nisi. </p>
														<p> Vestibulum rhoncus egestas odio in varius. Vestibulum tempor, nisi sed ullamcorper porta, nunc diam euismod mauris, nec egestas quam lectus ut felis. Pellentesque tellus urna, faucibus ut volutpat non, tempor nec justo. Phasellus rutrum, lacus nec iaculis imperdiet, risus ligula volutpat turpis, quis pharetra erat nibh ut elit. Phasellus eu vulputate odio. Maecenas posuere congue ipsum et tristique. Sed varius libero at ligula ornare bibendum. Aliquam non nunc est, eget commodo mi. Mauris porta, nulla sit amet mollis pharetra, sem mauris cursus dui, at laoreet ipsum justo sed turpis. </p>
													</div>
													<div class="cleared"></div>
												</div>
												<div class="cleared"></div>
											</div>
										</div>
										<div class="cleared"></div>
									</div>
								</div>
							</div>
							<div class="cleared"></div>
							<div class="art-footer">
								<div class="art-footer-t"></div>
								<div class="art-footer-l"></div>
								<div class="art-footer-b"></div>
								<div class="art-footer-r"></div>
								<div class="art-footer-body">
									<div class="art-footer-text">
										<p><a href="./#">Link1</a> | <a href="./#">Link2</a> | <a href="./#">Link3</a></p>
										<p>Copyright © 2012. All Rights Reserved.</p>
									</div>
									<div class="cleared"></div>
								</div>
							</div>
							<div class="cleared"></div>
						</div>
					</div>
					<div class="cleared"></div>
					<p class="art-page-footer">Designed by <a href="http://www.tworzenie-stron-internetowych.biz.pl/">tworzenie stron internetowych</a>.</p>
				</div>
			</div>
		</div>
	</body>
</html>
