{% extends "layout.html" %}

{% block title %}
    About us
{% endblock %}

{% block main %}
<center>
<div class="art-layout-cell art-content">
<div class="art-post-body">
	<div class="art-post-inner art-article">
		<div class="art-postcontent">

<p style="text-transform: none; font-size: 30px; color: black;  text-align: -webkit-center;">Why Kitchen App?<br /></p>

<table border=0 >
	    <tr>
			<td style="padding: 0px !important; border: solid 0px #ADB4A2;"><img src="static/fa.jpg" style=" width:630px; height=473px; float: left;"></img></td>
		<td style="padding: 0px !important; border: solid 0px #ADB4A2; ">
				<div class="art-layout-cell art-content">
					<div class="art-post-cc" style=" width: 630px;float: right; height:473px; top:10px;">
		    			<div class="art-post-inner art-article">
							<div class="art-post-body" style="width: 400px; float: right;height:200px;">
			<h3><span style="font-size: 20px;"><span style="color: rgb(53, 210, 66);"></span></span><span style="text-transform: none; "><span style="font-size: 16px;"><span style="color: rgb(124, 174, 43);">
						<div class="sidebar" style="width: 400px; float: right; margin-right: 85px;font-style: italic;font-family: monospace;text-align: justify; margin-bottom: 10px;">
                   		We currently spend around 10 hours per day in the refugees{code} learning hub.
                        And it is starting to feel like home a bit, so it would be nice if we can cook together as well.
 						As a gift to ourselves and future participants in the program,
						we decided to do a practical project where we can schedule cooking sessions for participants.
						This is our first real project and we hope that you also find that we are on the right we.
						Through it we are learning front-end, backend, user experience and project management with GitHub.
						Check out the full sourcecode on GitHub:https://github.com/MohamedDahman/Kitchen.
						The technologies we used are: Flask, JavaScript, Jinja, SQL, HTML, CSS, MVC, Python.
						We hope our code and our kitchen will be clean :)
						</div>
						<div class="sidebar" style="width: 400px; float: right; margin-right: 85px;font-style: italic;font-family: monospace;text-align: justify;">
                <span style="font-size: 20px; font-weight:800;">Team members:</span>Mohamed Dahman, Mohamed Almosleh, Diaa Alkhateeb,Hosam Almoghraby, Ismael Alali, Farah Alrubaye
						</div>
						</span></span></span></h3></center></center>
						<p><span style="text-transform: none; "><span style="font-size: 16px;"><span style="color: rgb(255, 255, 255);"><br /></span></span></span></p>
							<div class="cleared"></div>
							</div>
						</div>
					</div>
					<div class="cleared"></div>
				</div>
			</div>
			<div class="cleared"></div>
		</div>
	</div>
</div></td>

	</tr>
</table>



</center>
{% endblock %}
