{% extends "layout.html" %}
{% block title %}
   suggestion
{% endblock %}
{% block main %}
<img src="/static/{{image}}"  alt="{{image}}" style="width:150px; height:190px; border-radius: 50%;">


 <form action="/addsug" method="post" enctype="multipart/form-data" >
   <table class ="table table-striped">
      <tr>
         <td><label for="fname">Meal Name</label></td>


         <td align="left"><input type="text" id="fname" name="name" style="width:700px;" placeholder="Write name of the male.."></td>
      </tr>
      <tr>
         <td>   <label for="subject">Meal description</label></td>
         <td align="left"><textarea id="subject" name="description" style="width:700px;" placeholder="Male description" style="height:120px"></textarea></td>
      </tr>
      <tr><td><label for="fname">Date</label></td>
      <td align="left"><input type="date" id="fname" name="date"></td></tr>

      <tr><tr><td><label for="fname">image file</label></td>
         <td align="left"><span class="btn btn-default btn-file"> Browse <input type="file" name="image"></td></tr>
      <tr><td>      <input type="submit" value="Submit"></td></tr>
   </table>


 </form>


{% endblock %}