{% extends "layout.html" %}

{% block title %}
    suggestion
{% endblock %}

{% block main %}

<form action="/addsug" method="post" enctype="multipart/form-data" >
      <h3>Meal Name</h3> <input autocomplete="off" autofocus class="form-control" name="name" placeholder="meal name" type="text"/>
            <br><br>
            <h3>Description</h3><input autocomplete="off" autofocus class="form-control" name="description" placeholder="description" type="text"/>
            <br><br>
            <h3>Date</h3><input autocomplete="off" autofocus class="form-control" name="date" placeholder="date" type="text"/>
            <br><br>

    <input type="submit" value="submit" class="btn btn-primary">
</form>

{% endblock %}

