<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xml:lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Home</title>
		<link rel="stylesheet" href="./static/style.css" type="text/css" media="screen" />
		<!--[if IE 6]><link rel="stylesheet" href="./style.ie6.css" type="text/css" media="screen" /><![endif]-->
		<!--[if IE 7]><link rel="stylesheet" href="./style.ie7.css" type="text/css" media="screen" /><![endif]-->
		<script type="text/javascript" src="./static/jquery.js"></script>
		<script type="text/javascript" src="./static/script.js"></script>
	</head>
	<body>
		<div id="art-page-background-glare">
			<div id="art-page-background-glare-image">
				<div id="art-main">
					<div class="art-sheet">
						<div class="art-sheet-tl"></div>
						<div class="art-sheet-tr"></div>
						<div class="art-sheet-bl"></div>
						<div class="art-sheet-br"></div>
						<div class="art-sheet-tc"></div>
						<div class="art-sheet-bc"></div>
						<div class="art-sheet-cl"></div>
						<div class="art-sheet-cr"></div>
						<div class="art-sheet-cc"></div>
						<div class="art-sheet-body">
							<div class="art-nav">
								<div class="l"></div>
								<div class="r"></div>
								<ul class="art-menu">
									{% if session.user_id %}
									<!-- <li><a href="./index.html" class="active"><span class="l"> </span><span class="r"> </span><span class="t">Home</span></a></li>-->
									<li><a href="/addsug"><span class="l"> </span><span class="r"> </span><span class="t">Suggesions</span></a></li>
									<li><a href="/listmeal"><span class="l"> </span><span class="r"> </span><span class="t">Meal List</span></a></li>
									<li><a href="/units"><span class="l"> </span><span class="r"> </span><span class="t">History</span></a></li>
									<li><a href="/units"><span class="l"> </span><span class="r"> </span><span class="t">Units</span></a></li>
									<li><a href="./about-us.html"><span class="l"> </span><span class="r"> </span><span class="t">About us</span></a></li>

                                    <li><a href="/logout" class="active"><span class="l"> </span><span class="r"> </span><span class="t">Log out</span></a></li>
                                    {% else %}
										<li><a href="/login"><span class="l"> </span><span class="r"> </span><span class="t">Log in</span></a></li>
										<li><a href="/register"><span class="l"> </span><span class="r"> </span><span class="t">Register</span></a></li>
                                    {% endif %}

								</ul>
							</div>
							<div class="art-header">
								<div class="art-header-center">
									<div class="art-header-jpeg"></div>
								</div>
								<div class="art-logo">
									<h1 id="name-text" class="art-logo-name"><a href="./index.html">Refugees {code}</a></h1>
									<h2 id="slogan-text" class="art-logo-text">Nordbahnhale Intake#3</h2>
								</div>
							</div>
							<div class="art-content-layout">
								<div class="art-content-layout-row">
									<div class="art-layout-cell art-sidebar1">
										<div class="art-vmenublock">
											<div class="art-vmenublock-body">
												<div class="art-vmenublockheader">
													<h3 class="t">Vertical Menu</h3>
												</div>

												<div class="art-vmenublockcontent">
													<div class="art-vmenublockcontent-body">
														<ul class="art-vmenu">
															<li><a href="./home.html" class="active"><span class="l"> </span><span class="r"> </span><span class="t">Home</span></a></li>
															<li><a href="./Suggesion.html"><span class="l"> </span><span class="r"> </span><span class="t">Suggesion</span></a></li>
															<li><a href="./units.html"><span class="l"> </span><span class="r"> </span><span class="t">Shopper</span></a></li>
															<li><a href="./units.html"><span class="l"> </span><span class="r"> </span><span class="t">History</span></a></li>
															<li><a href="./about-us.html"><span class="l"> </span><span class="r"> </span><span class="t">About us</span></a></li>
															<li><a href="./contact-us.html"><span class="l"> </span><span class="r"> </span><span class="t">Contact us</span></a></li>

														</ul>
														<div class="cleared"></div>
													</div>
												</div>
												<div class="cleared"></div>
											</div>
										</div>

										<div class="cleared"></div>
									</div>
									<div class="art-layout-cell art-content">
										<div class="art-post">
											<div class="art-post-cc"></div>
											<div class="art-post-body">
												<div class="art-post-inner art-article">
													<h2 class="art-postheader" style="color: rgb(172,163,163);">Purpose:</h2>
													<div class="art-postcontent">
														<h3><span style="font-size: 16px;"><span style="color: rgb(247, 247, 247);"> </span></span><span style="text-transform: none; "><span style="font-size: 16px;"><span style="color: rgb(245,182,57);">Let’s cook together, the easier way.

                                                                                    What’s the problem: Sharing food has a connecting function. But cooking takes time and preparation and overview. Through a simple cooking / scheduling app we can take away the pain and make sure we have at least one meal together every weekjh. </span></span></span></h3>
														<p><span style="text-transform: none; "><span style="font-size: 16px;"><span style="color: rgb(255, 255, 255);"><br /></span></span></span></p>
														<p><span style="font-size: 16px;">User Stories: </span></p>
														<ul>
															<li  style="color: rgb(153,102,51);">As a cook, I like to pick the dish and allow people to sign up for eating.</li>
															<li  style="color: rgb(153,102,51);">As a cook, I like to write a shopping list for others to buy.</li>
															<li  style="color: rgb(153,102,51);">As an anti-cook, I can do the shopping because everything I touch burns down.</li>
															<li  style="color: rgb(153,102,51);">As someone with no time this week I just want to sign up for the meal.</li>
															<li  style="color: rgb(153,102,51);">As a cleaner I want to say thank you by promising to clean the kitchen afterwards</li>
															<li  style="color: rgb(153,102,51);">As a normally talented person, I can sign up for cutting vegetables or helping the chef cook.</li>
															<li  style="color: rgb(153,102,51);">As someone who cares about fairness, it’s nice to earn points for each role.</li>
															<li  style="color: rgb(153,102,51);">As someone who’s hungry I want to see what’s on the menu this week.</li>
															<li  style="color: rgb(153,102,51);">As someone who cares about money, I want to split up the costs between all participants.</li>
														</ul>
														<p><span style="font-size: 14px;"><br/></span></p>
														<p><span style="font-size: 16px;">Technology Stack: </span></p>
														<p><span style="font-size: 14px;"><br /></span></p>
														<p><span style="font-size: 14px;"></span><span style="font-size: 14px; color: rgb(153,102,51);">Flask, JavaScript, Jinja, … </span><span style="color: rgb(247, 247, 247); font-family: Arial, Helvetica, sans-serif; "><span style="font-size: 14px;"> </span></span></p>
														<p><span style="color: rgb(247, 247, 247); font-family: Arial, Helvetica, sans-serif; "><span style="font-size: 14px;"><br /></span></span></p>
													</div>
													<div class="cleared"></div>
												</div>
												<div class="cleared"></div>
											</div>
										</div>
										<div class="cleared"></div>
									</div>
								</div>
							</div>
							<div class="cleared"></div>
							<div class="art-footer">
								<div class="art-footer-t"></div>
								<div class="art-footer-l"></div>
								<div class="art-footer-b"></div>
								<div class="art-footer-r"></div>
								<div class="art-footer-body">
									<div class="art-footer-text">
										<p><a href="./#">Link1</a> | <a href="./#">Link2</a> | <a href="./#">Link3</a></p>
										<p>Copyright © 2018. All Rights Reserved.</p>
									</div>
									<div class="cleared"></div>
								</div>
							</div>
							<div class="cleared"></div>
						</div>
					</div>
					<div class="cleared"></div>
					<p class="art-page-footer">Designed by <a href="http://www.tworzenie-stron-internetowych.biz.pl/">Mosleh-Dahman-Diaa-Farah-ismael-Hosam</a>.</p>
				</div>
			</div>
		</div>
	</body>
</html>
