{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <table class="table table-striped" style="width:100%">
      <tr>
        <th>Data</th>
        <th>Helper</th>
        <th>Shopper</th>
        <th>Cleaner</th>
        <th>Participate</th>

        <th></th>
      </tr>

    {% for meal in meals %}
      <tr>
        <td>
        <table >
          <tr >
            <td>Name</td>
            <td>{{ meal.name }}</td>
          </tr>
          <tr>
            <td>Date</td>
            <td width="180">{{ meal.date }}</td>
          </tr>
          <tr>
          <td width=180>Participants</td>
          <td>{{meal.ParticipateCount}}</td>
          </tr>
          </td>
          </table >
         {% if meal.helper == 0 %}
          <td>
            <form method="POST" action="/addHellper">
            <div class="form-group">
            <button class="btn btn-primary"  name="addHellper" type="submit"  value={{meal.id}}>Helper</button>
            </div>
            </form>
          </td>
          {% else %}
            <td>
                {{meal.helper}}
            </td>

          {% endif %}




         {% if meal.Shopper == 0 %}
        <td>
          <form method="POST" action="/addShopper">
          <div class="form-group">
            <button class="btn btn-primary"  name="addShopper" value={{meal.id}} type="submit" >Shopper</button>
        </div>
        </form>
        </td>
        {% else %}
        <td>
          {{meal.Shopper}}
        </td>

        {% endif %}



         {% if meal.Cleaner == 0 %}
        <td>
          <form method="POST" action="/addCleaner">
          <div class="form-group">
            <button class="btn btn-primary"  name="addCleaner" type="submit"  value={{meal.id}}>Cleaner</button>
        </div>
        </form>
        </td>
        {% else %}
        <td>
          {{meal.Cleaner}}
        </td>

        {% endif %}



         {% if meal.Participate == 0 %}
        <td>
          <form method="POST" action="/addParticipate">
          <div class="form-group">
            <button class="btn btn-primary"  name="addParticipate" type="submit"  value={{meal.id}}>Participate</button>
        </div>
        </form>
        </td>
        {% else %}
        <td>
          {{meal.Participate}}
        </td>

        {% endif %}


        <td>
            <img src="/static/{{meal.id}}.jpg"  alt="{{image}}" style="width:150px; height:150px">
        </td>

      </tr>
    {% endfor %}

    </table>


{% endblock %}