{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <table class="table table-striped" style="width:100%">
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th colspan=3>Actions</th>
      </tr>
    {% for meal in meals %}
      <tr>
        <td>{{ meal.name }}</td>
        <td>{{ meal.date }}</td>

        <td>
          <form method="POST" action="/addHellper">
          <div class="form-group">
            <button class="btn btn-primary"  name="addHellper" type="submit"  value={{meal.id}}>Helper</button>
        </div>
        </form>
        </td>

        <td>
          <form method="POST" action="/addShopper">
          <div class="form-group">
            <button class="btn btn-primary"  name="addShopper" type="submit"  value={{meal.id}}>Shopper</button>
        </div>
        </form>
        </td>

        <td>
          <form method="POST" action="/addCleaner">
          <div class="form-group">
            <button class="btn btn-primary"  name="addCleaner" type="submit"  value={{meal.id}}>Cleaner</button>
        </div>
        </form>
        </td>
      </tr>
    {% endfor %}

    </table>


{% endblock %}