{% extends "layout.html" %}

{% block title %}
    Material Details
{% endblock %}

{% block main %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Meal Name</th>
                <th>Meal Description</th>
                <th>Date</th>
                <th>Cook</th>

            </tr>
        </thead>
        <tbody>

            <tr>
                <td>{{ mealName }}</td>
                <td>{{ mealDes }}</td>
                <td>{{ mealDate }}</td>
                <td>{{ cook }}</td>

            </tr>



        </tbody>

    </table>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Material</th>
                <th>Quantity</th>
                <th>Unit</th>


            </tr>
            <form action="/addrecord" method="post">
                <th><input autocomplete="off" autofocus class="form-control" name="material" placeholder="material name" type="text"/></th>
                <th><input autocomplete="off" autofocus class="form-control" name="quantity" placeholder="quantity" type="number"/></th>
                <th><input autocomplete="off" autofocus class="form-control" name="unit" placeholder="unit" type="number"/></th>
                <th><button class="btn btn-primary" type="submit">Add</button></th>
            <form action="/deleterecord" method="post">
                {% for material in materials %}
                <th><label for="record">{{material.name}}</label></th>
                <th><label for="record">{{material.quantity}}</label></th>
                <th><label for="record">{{material.unit}}</label></th>
                <th><button class="btn btn-primary" type="submit">Delete</button></th>
                {% endfor %}
            </form>

            <tr>
            </tr>
        </thead>
        <tbody>
           <tr>

          </tr>

        </tbody>

    </table>

{% endblock %}