{% extends "layout.html" %}

{% block title %}
    Material Details
{% endblock %}

{% block main %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Meal Name</th>
                <th>Meal Description</th>
                <th>Date</th>
                <th>Cook</th>

            </tr>
        </thead>
        <tbody>

            <tr>

                <td>{{ mealName }}</td>
                <td>{{ mealDes }}</td>
                <td>{{ mealDate }}</td>
                <td>{{ cook }}</td>

            </tr>



        </tbody>

    </table>
            <form action="/addrecord" method="post">
                <input autocomplete="off" autofocus class="form-control" name="mealid"  hidden value ={{mealid}} placeholder="mealid" type="text"/>
                <table class="table table-striped">
                <thead>
                <tr>
                <th>Material</th>
                <th>Quantity</th>
                <th>Unit</th>
                </tr>


                <th><input autocomplete="off" autofocus class="form-control" name="name" placeholder="material name" type="text"/></th>
                <th><input autocomplete="off" autofocus class="form-control" name="quantity" placeholder="quantity" type="number"/></th>
                <th>
                    <select class="form-control" name="unit">
                {% for unit in units %}
                    <option value="{{ unit.description }}">{{ unit.description }}</option>
                {% endfor %}
                </select>
                </th>
            </select></th>

                <th><button class="btn btn-primary" type="submit">Add</button></th>

                {% for material in materials %}
                <tr>
                <th><label for="name">{{material.material}}</label></th>
                <th><label for="quantity">{{material.quntity}}</label></th>
                <th><label for="unit">{{material.unit}}</label></th>
                <form action="/delrecord" method="post">
                <th><button class="btn btn-primary" name="delrecord" value={{mealid}} type="submit"  >Delete</button></th>
                </form>
                {% endfor %}
                </tr>
</form>


            </tr>

            <tr>
            </tr>
        </thead>
        <tbody>
           <tr>

          </tr>

        </tbody>

    </table>

{% endblock %}