<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>

<!--
<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
-->

<style>
body { color:#fff; font-family:'Roboto'; text-align:center;}
.container { margin:150px auto;}
h1 { margin-bottom:100px;}
</style>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="./static/emotion-ratings.js"></script>
</head>

<body>



<script type="text/javascript"
src="https://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
<div class="jquery-script-clear"></div>


<div class="container">
<h1>jQuery Emotion Ratings Plugin Demo</h1>
<div id="element"></div>
</div>

<script>
var emotionsArray = ['angry','disappointed','meh', 'happy', 'inLove'];
  $("#element").emotionsRating({
    emotionSize: 50,
    bgEmotion: 'happy',
    emotions: emotionsArray,
    color: 'gold'
  });
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
