{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}
<div id="art-main">
 					<div class="art-sheet">
						<div class="art-sheet-tl"></div>
						<div class="art-sheet-tr"></div>
						<div class="art-sheet-bl"></div>
						<div class="art-sheet-br"></div>
						<div class="art-sheet-tc"></div>
						<div class="art-sheet-bc"></div>
						<div class="art-sheet-cl"></div>
						<div class="art-sheet-cr"></div>
						<div class="art-sheet-cc"></div>
						<div class="art-sheet-body">
							<div class="art-nav">

        <form action="/" method="post">
      <br>
      <br>
       <table>
      <tr>
       <td>
        <div class="form-group">
            <input class="form-control" name="shares" min="1" placeholder="User Name" type="text"/>
        </div>
          </td>


          <td rowspan=2>
          <div class="art-vmenublockcontent">
										<div class="art-vmenublockcontent-body">
											<ul class="art-vmenu">
															  <a href="./home.html" class="active"><span class="l"> </span><span class="r"> </span><span class="t">login</span></a>
          </ul>



        </tr>
        <tr>

         <td>
              <div class="form-group">
            <input class="form-control" name="shares" min="1" placeholder="Password" type="text"/>
           </div>

         </td>

        </tr>

       </table>

        <br>


    </form>
   </div >
   </div >


   </div >
{% endblock %}
